@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/helveticaneue-medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }


  .capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
  }

  .capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  a:active,
  a:focus {
    outline: none !important;
  }

  /* https://seek-oss.github.io/capsize/ */
  .capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
  }

  .capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
  }

  ::-moz-selection {
    color: #fff;
    background: #000;
  }

  .light ::selection {
    color: #fff;
    background: #000;
  }

  .dark ::selection {
    background: #fff;
    color: #000;
  }

  html {
    @apply max-h-screen antialiased;
  }

  * {
    box-sizing: border-box;
  }

  body {
    @apply p-0 m-0 font-sans;
  }

  body:after {
    content: '';
    position: fixed;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    z-index: -1;
    @apply bg-gray-100 dark:bg-gray-1000;
  }
}

@layer components {
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 48px;
    overflow-x: hidden;
  }

  /* needed to override tailwind forms styles */
  select {
    @apply w-full px-4 py-2 border border-gray-200 rounded outline-none text-primary bg-gray-1000 bg-opacity-5 hover:bg-opacity-10 focus:border-gray-1000 focus:outline-none focus:ring-0 dark:border-gray-800 dark:bg-white dark:focus:border-gray-600;
  }

  /* button:focus,
  a:focus {
    @apply outline-none ring-2 ring-blue-500 ring-offset-2 ring-offset-white dark:ring-blue-500 dark:ring-offset-black;
  } */

  button:active:not(:focus-visible),
  a:active:not(:focus-visible),
  button:focus:not(:focus-visible),
  a:focus:not(:focus-visible) {
    @apply outline-none ring-0 ring-offset-0;
  }

  /* input[type='text'],
  textarea {
    @apply bg-white border border-gray-200 outline-none dark:border-gray-700 dark:bg-gray-800;
  } */

  input[type='checkbox'] {
    @apply dark:border-gray-600 dark:bg-gray-700;
  }

  /* input:focus,
  textarea:focus {
    @apply outline-none ring-2 ring-blue-500 ring-offset-2 ring-offset-white dark:ring-offset-black;
  } */

  .font-list-heading {
    @apply font-sans text-lg font-bold text-primary;
  }

  .tabbed-navigation::-webkit-scrollbar {
    display: none;
  }

  .light .bg-dots {
    background: linear-gradient(90deg, #f9f9f9 15px, transparent 1%) center,
      linear-gradient(#f9f9f9 15px, transparent 1%) center, rgba(0, 0, 0, 0.24);
    background-size: 16px 16px;
  }

  .dark .bg-dots {
    background: linear-gradient(90deg, #171717 15px, transparent 1%) center,
      linear-gradient(#171717 15px, transparent 1%) center,
      rgba(255, 255, 255, 0.12);
    background-size: 16px 16px;
  }
}

/* Your own custom utilities */
@layer utilities {
  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-black/80 dark:text-white/80;
  }

  .text-tertiary {
    @apply text-black/60 dark:text-white/60;
  }

  .text-quaternary {
    @apply text-black/40 dark:text-white/40;
  }

  .bg-elevated {
    @apply bg-gray-400 bg-opacity-5 dark:bg-gray-800;
  }

  @supports (backdrop-filter: saturate(180%) blur(25px)) {
    .bg-primary {
      @apply bg-gray-100/60 dark:bg-gray-1000/70;
    }
    .filter-blur {
      backdrop-filter: saturate(180%) blur(25px);
    }
  }
  @supports not (backdrop-filter: saturate(180%) blur(25px)) {
    .bg-primary {
      @apply bg-gray-100 dark:bg-gray-1000;
    }
  }

  .external-link {
    @apply relative after:absolute after:bg-gray-200 after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300;
  }

  .highlight {
    @apply bg-black/10  dark:bg-white/[.06];
  }

  .button-primary-x {
    @apply flex items-center justify-center flex-none px-4 py-2 space-x-2 text-sm font-semibold leading-none text-gray-700 transition-all bg-white border border-gray-400 rounded-md shadow-sm cursor-pointer dark:text-gray-300 hover:text-gray-1000 dark:bg-gray-900 border-opacity-30 dark:border-opacity-30 dark:border-gray-500 dark:hover:text-white hover:border-opacity-50 dark:hover:border-opacity-50 hover:shadow-sm;
  }

  .button-primary-y {
    @apply flex items-center justify-center flex-none px-2 py-2 space-x-2 font-semibold leading-none text-gray-700 bg-white border border-gray-400 rounded-md shadow-sm cursor-pointer dark:text-gray-300 hover:text-gray-1000 dark:bg-gray-900 border-opacity-30 dark:border-opacity-30 dark:border-gray-500 dark:hover:text-white hover:border-opacity-50 dark:hover:border-opacity-50 hover:shadow-sm;
  }

  .filter-none {
    filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .highlight-link-hover {
    @apply -mx-0.5 rounded-sm bg-opacity-20 px-0.5 text-gray-1000 no-underline dark:bg-opacity-100 dark:text-gray-300 md:hover:bg-yellow-400 md:hover:bg-opacity-30 md:dark:hover:bg-yellow-500 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-1000;
  }

  .highlight-link {
    @apply -mx-0.5 bg-opacity-20 px-0.5 text-gray-1000 dark:bg-gray-100 dark:bg-opacity-20 dark:text-gray-300 md:hover:bg-opacity-30 md:dark:hover:bg-yellow-500 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-1000;
  }

  .blink {
    animation: blink-animation 1.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
  }

  .flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .fix-safari {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  .clip-text {
    /* if we can clip, do it */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    /* what will show through the text
      ~ or ~
     what will be the background of that element */
     /* svg from static/images */
     /* background-image: url("data:image/svg+xml,%3Csvg width='1210' height='888' viewBox='0 0 1210 888' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M235 421.5C235 457.675 205.675 487 169.5 487C133.325 487 104 457.675 104 421.5C104 385.325 133.325 356 169.5 356C205.675 356 235 385.325 235 421.5Z' fill='%2330793C'/%3E%3Cpath d='M470 518C470 567.706 429.706 608 380 608C330.294 608 290 567.706 290 518C290 468.294 330.294 428 380 428C429.706 428 470 468.294 470 518Z' fill='%23DE83AD'/%3E%3Cpath d='M677.5 418C677.5 467.706 637.206 508 587.5 508C537.794 508 497.5 467.706 497.5 418C497.5 368.294 537.794 328 587.5 328C637.206 328 677.5 368.294 677.5 418Z' fill='%23D2322D'/%3E%3Cpath d='M1210 501C1210 550.706 1169.71 591 1120 591C1070.29 591 1030 550.706 1030 501C1030 451.294 1070.29 411 1120 411C1169.71 411 1210 451.294 1210 501Z' fill='%23D2322D'/%3E%3Cpath d='M809 508C809 536.719 785.719 560 757 560C728.281 560 705 536.719 705 508C705 479.281 728.281 456 757 456C785.719 456 809 479.281 809 508Z' fill='%2330793C'/%3E%3Cpath d='M968 435C968 463.719 944.719 487 916 487C887.281 487 864 463.719 864 435C864 406.281 887.281 383 916 383C944.719 383 968 406.281 968 435Z' fill='%231338FF'/%3E%3Cpath d='M104 515C104 543.719 80.7188 567 52 567C23.2812 567 0 543.719 0 515C0 486.281 23.2812 463 52 463C80.7188 463 104 486.281 104 515Z' fill='%231338FF'/%3E%3Cpath d='M975 794.5C975 758.325 1004.33 729 1040.5 729C1076.67 729 1106 758.325 1106 794.5C1106 830.675 1076.67 860 1040.5 860C1004.33 860 975 830.675 975 794.5Z' fill='%2330793C'/%3E%3Cpath d='M740 698C740 648.294 780.294 608 830 608C879.706 608 920 648.294 920 698C920 747.706 879.706 788 830 788C780.294 788 740 747.706 740 698Z' fill='%23DE83AD'/%3E%3Cpath d='M532.5 798C532.5 748.294 572.794 708 622.5 708C672.206 708 712.5 748.294 712.5 798C712.5 847.706 672.206 888 622.5 888C572.794 888 532.5 847.706 532.5 798Z' fill='%23D2322D'/%3E%3Cpath d='M0 715C0 665.294 40.2944 625 90 625C139.706 625 180 665.294 180 715C180 764.706 139.706 805 90 805C40.2944 805 0 764.706 0 715Z' fill='%23D2322D'/%3E%3Cpath d='M401 708C401 679.281 424.281 656 453 656C481.719 656 505 679.281 505 708C505 736.719 481.719 760 453 760C424.281 760 401 736.719 401 708Z' fill='%2330793C'/%3E%3Cpath d='M242 781C242 752.281 265.281 729 294 729C322.719 729 346 752.281 346 781C346 809.719 322.719 833 294 833C265.281 833 242 809.719 242 781Z' fill='%231338FF'/%3E%3Cpath d='M1106 701C1106 672.281 1129.28 649 1158 649C1186.72 649 1210 672.281 1210 701C1210 729.719 1186.72 753 1158 753C1129.28 753 1106 729.719 1106 701Z' fill='%231338FF'/%3E%3Cpath d='M975 93.5C975 129.675 1004.33 159 1040.5 159C1076.67 159 1106 129.675 1106 93.5C1106 57.3254 1076.67 28 1040.5 28C1004.33 28 975 57.3254 975 93.5Z' fill='%2330793C'/%3E%3Cpath d='M740 190C740 239.706 780.294 280 830 280C879.706 280 920 239.706 920 190C920 140.294 879.706 100 830 100C780.294 100 740 140.294 740 190Z' fill='%23DE83AD'/%3E%3Cpath d='M532.5 90C532.5 139.706 572.794 180 622.5 180C672.206 180 712.5 139.706 712.5 90C712.5 40.2944 672.206 0 622.5 0C572.794 0 532.5 40.2944 532.5 90Z' fill='%23D2322D'/%3E%3Cpath d='M0 173C0 222.706 40.2944 263 90 263C139.706 263 180 222.706 180 173C180 123.294 139.706 83 90 83C40.2944 83 0 123.294 0 173Z' fill='%23D2322D'/%3E%3Cpath d='M401 180C401 208.719 424.281 232 453 232C481.719 232 505 208.719 505 180C505 151.281 481.719 128 453 128C424.281 128 401 151.281 401 180Z' fill='%2330793C'/%3E%3Cpath d='M242 107C242 135.719 265.281 159 294 159C322.719 159 346 135.719 346 107C346 78.2812 322.719 55 294 55C265.281 55 242 78.2812 242 107Z' fill='%231338FF'/%3E%3Cpath d='M1106 187C1106 215.719 1129.28 239 1158 239C1186.72 239 1210 215.719 1210 187C1210 158.281 1186.72 135 1158 135C1129.28 135 1106 158.281 1106 187Z' fill='%231338FF'/%3E%3C/svg%3E%0A"); */
    background-image: url("data:image/svg+xml,%3Csvg width='1210' height='888' viewBox='0 0 1210 888' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M235 421.5C235 457.675 205.675 487 169.5 487C133.325 487 104 457.675 104 421.5C104 385.325 133.325 356 169.5 356C205.675 356 235 385.325 235 421.5Z' fill='%2330793C'/%3E%3Cpath d='M470 518C470 567.706 429.706 608 380 608C330.294 608 290 567.706 290 518C290 468.294 330.294 428 380 428C429.706 428 470 468.294 470 518Z' fill='%23DE83AD'/%3E%3Cpath d='M677.5 418C677.5 467.706 637.206 508 587.5 508C537.794 508 497.5 467.706 497.5 418C497.5 368.294 537.794 328 587.5 328C637.206 328 677.5 368.294 677.5 418Z' fill='%23D2322D'/%3E%3Cpath d='M1210 501C1210 550.706 1169.71 591 1120 591C1070.29 591 1030 550.706 1030 501C1030 451.294 1070.29 411 1120 411C1169.71 411 1210 451.294 1210 501Z' fill='%23D2322D'/%3E%3Cpath d='M809 508C809 536.719 785.719 560 757 560C728.281 560 705 536.719 705 508C705 479.281 728.281 456 757 456C785.719 456 809 479.281 809 508Z' fill='%2330793C'/%3E%3Cpath d='M968 435C968 463.719 944.719 487 916 487C887.281 487 864 463.719 864 435C864 406.281 887.281 383 916 383C944.719 383 968 406.281 968 435Z' fill='%231338FF'/%3E%3Cpath d='M104 515C104 543.719 80.7188 567 52 567C23.2812 567 0 543.719 0 515C0 486.281 23.2812 463 52 463C80.7188 463 104 486.281 104 515Z' fill='%231338FF'/%3E%3Cpath d='M975 794.5C975 758.325 1004.33 729 1040.5 729C1076.67 729 1106 758.325 1106 794.5C1106 830.675 1076.67 860 1040.5 860C1004.33 860 975 830.675 975 794.5Z' fill='%2330793C'/%3E%3Cpath d='M740 698C740 648.294 780.294 608 830 608C879.706 608 920 648.294 920 698C920 747.706 879.706 788 830 788C780.294 788 740 747.706 740 698Z' fill='%23DE83AD'/%3E%3Cpath d='M532.5 798C532.5 748.294 572.794 708 622.5 708C672.206 708 712.5 748.294 712.5 798C712.5 847.706 672.206 888 622.5 888C572.794 888 532.5 847.706 532.5 798Z' fill='%23D2322D'/%3E%3Cpath d='M0 715C0 665.294 40.2944 625 90 625C139.706 625 180 665.294 180 715C180 764.706 139.706 805 90 805C40.2944 805 0 764.706 0 715Z' fill='%23D2322D'/%3E%3Cpath d='M401 708C401 679.281 424.281 656 453 656C481.719 656 505 679.281 505 708C505 736.719 481.719 760 453 760C424.281 760 401 736.719 401 708Z' fill='%2330793C'/%3E%3Cpath d='M242 781C242 752.281 265.281 729 294 729C322.719 729 346 752.281 346 781C346 809.719 322.719 833 294 833C265.281 833 242 809.719 242 781Z' fill='%231338FF'/%3E%3Cpath d='M1106 701C1106 672.281 1129.28 649 1158 649C1186.72 649 1210 672.281 1210 701C1210 729.719 1186.72 753 1158 753C1129.28 753 1106 729.719 1106 701Z' fill='%231338FF'/%3E%3Cpath d='M975 93.5C975 129.675 1004.33 159 1040.5 159C1076.67 159 1106 129.675 1106 93.5C1106 57.3254 1076.67 28 1040.5 28C1004.33 28 975 57.3254 975 93.5Z' fill='%2330793C'/%3E%3Cpath d='M740 190C740 239.706 780.294 280 830 280C879.706 280 920 239.706 920 190C920 140.294 879.706 100 830 100C780.294 100 740 140.294 740 190Z' fill='%23DE83AD'/%3E%3Cpath d='M532.5 90C532.5 139.706 572.794 180 622.5 180C672.206 180 712.5 139.706 712.5 90C712.5 40.2944 672.206 0 622.5 0C572.794 0 532.5 40.2944 532.5 90Z' fill='%23D2322D'/%3E%3Cpath d='M0 173C0 222.706 40.2944 263 90 263C139.706 263 180 222.706 180 173C180 123.294 139.706 83 90 83C40.2944 83 0 123.294 0 173Z' fill='%23D2322D'/%3E%3Cpath d='M401 180C401 208.719 424.281 232 453 232C481.719 232 505 208.719 505 180C505 151.281 481.719 128 453 128C424.281 128 401 151.281 401 180Z' fill='%2330793C'/%3E%3Cpath d='M242 107C242 135.719 265.281 159 294 159C322.719 159 346 135.719 346 107C346 78.2812 322.719 55 294 55C265.281 55 242 78.2812 242 107Z' fill='%231338FF'/%3E%3Cpath d='M1106 187C1106 215.719 1129.28 239 1158 239C1186.72 239 1210 215.719 1210 187C1210 158.281 1186.72 135 1158 135C1129.28 135 1106 158.281 1106 187Z' fill='%231338FF'/%3E%3C/svg%3E%0A"); 

    /* fallback text color
      ~ or ~
     the actual color of text, so it better work on the background */
  }
}
