@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fefefe;
    background: #47a3f3;
}

::selection {
    color: #fefefe;
    background: #47a3f3;
}

/* ::selection {
    background-color: #47a3f3;
    color: #fefefe;
} */

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1 ease-in-out;
}

.skip-nav {
    @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

@supports not (backdrop-filter: none) {
    .sticky-nav {
        backdrop-filter: none;
        @apply bg-opacity-100;
    }
}

.prose .anchor {
    @apply absolute invisible;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    overflow-y: scroll;
}
