@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/IBMPlexSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/Domine-Regular.woff2) format('woff2');
}

.mycenter {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.custom-hover {
  @apply relative after:absolute after:bg-gray-700 dark:after:bg-gray-200 after:bottom-0 after:left-0 after:h-[1.5px] after:w-full after:origin-bottom-left after:scale-x-100 hover:after:origin-bottom-right hover:after:scale-x-0 after:transition-transform after:ease-in-out after:duration-300;
}

.dark .polka {
  background-color: #1f1f22;
  opacity: 1;
  background-image: radial-gradient(#272828 1.1px, #171717 1.1px);
  background-size: 36px 36px;
}

.light .polka {
  background-color: #fafafa;
  opacity: 1;
  background-image: radial-gradient(#ecedec 1.1px, #fafafa 1.1px);
  background-size: 36px 36px;
}

.new-sticky-nav {
  position: sticky;
  z-index: 10;
  /* top: 16px; */
  backdrop-filter: saturate(300%) blur(25px);
  -webkit-backdrop-filter: saturate(300%) blur(25px);
  transition: background-color 0.1 ease-in-out;
}

.light .new-sticky-nav {
  @apply bg-opacity-50 bg-gray-50;
  -webkit-box-shadow: 0px -20px 1px rgba(250, 250, 250, 0.9);
  -moz-box-shadow: 0px -20px 1px rgba(250, 250, 250, 0.9);
  box-shadow: 0px -20px 1px rgba(250, 250, 250, 0.9);
}

.dark .new-sticky-nav {
  @apply bg-opacity-50 bg-gray-800;
  -webkit-box-shadow: 0px -20px 1px rgba(23, 23, 23, 0.9);
  -moz-box-shadow: 0px -20px 1px rgba(23, 23, 23, 0.9);
  box-shadow: 0px -20px 1px rgba(23, 23, 23, 0.9);
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(300%) blur(25px);
  -webkit-backdrop-filter: saturate(300%) blur(25px);
  transition: background-color 0.1 ease-in-out;
}

.light .sticky-nav {
  @apply bg-opacity-50 bg-gray-50;
}

.dark .sticky-nav {
  @apply bg-gray-900 bg-opacity-50;
}

.myblur {
  backdrop-filter: saturate(300%) blur(25px);
  -webkit-backdrop-filter: saturate(300%) blur(25px);
  transition: background-color 0.1 ease-in-out;
}

.light .myblur {
  @apply bg-opacity-70 bg-gray-50;
}

.dark .myblur {
  @apply bg-gray-900 bg-opacity-70;
}

@supports not (
  (-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))
) {
  .light .myblur {
    @apply bg-gray-100 bg-opacity-100;
  }
  .dark .myblur {
    @apply bg-gray-900 bg-opacity-100;
  }
}

.myfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.dotted {
  border-top-width: 1.3px;
  border-top-style: dashed;
}

.light .dotted {
  border-top-color: #121212;
}

.dark .dotted {
  border-top-color: #f5f5f5;
}

::-moz-selection {
  /* Code for Firefox */
  /* color: #fefefe;
  background: #47a3f3; */

  color: #121212;
  background: #f9d403;
}

.light ::selection {
  color: black;
  background: #fef9c3;
}

.dark ::selection {
  color: white;
  background: #fbbf24;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply polka;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.cursor-arrow {
  cursor: ne-resize;
}

.custom-underline {
  background-image: linear-gradient(gray, gray);
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: ne-resize;
  @apply transition-all duration-300;
}

.custom-underline-twitter {
  background-image: linear-gradient(rgb(29, 161, 242), rgb(29, 161, 242));
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: ne-resize;
  @apply transition-all duration-300;
}

.custom-underline-twitter:hover {
  color: #47a3f3;
  background-size: 100% 2px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply max-w-[86vw] border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

/* .prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
} */

.prose pre code {
  @apply text-gray-800 dark:text-gray-200;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}
code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
