.prose {
  @apply text-gray-700 dark:text-gray-400;
}

.prose blockquote {
  @apply font-normal border-l-2 border-gray-200 dark:border-gray-800 dark:text-gray-400;
}

.prose figure {
  @apply md:-mx-6;
}

.prose img {
  @apply w-full rounded-md;
}

.prose a {
  @apply font-normal text-blue-600 no-underline break-words hover:bg-blue-400/10 dark:hover:bg-blue-400/20 dark:text-blue-500 px-1 -mx-1 rounded-md after:content-['_↗'];
}

.prose a code {
  @apply text-blue-600 dark:text-blue-500;
}

.prose th {
  @apply text-gray-600 dark:text-gray-500;
}

.prose table {
  @apply my-2 border border-gray-200 rounded-md text-gray-1000 dark:border-gray-800 dark:text-gray-50;
}

.prose.comment table {
  @apply my-2;
}

.prose thead {
  @apply text-gray-800 dark:text-gray-200;
}

.prose thead th {
  @apply p-2;
  padding-left: 1rem !important;
}

.prose thead th,
.prose tbody th,
.prose tbody td {
  @apply p-2 border-r border-gray-200 dark:border-gray-800;
  padding-left: 1rem !important;
}

.prose tbody tr {
  @apply border-b border-gray-200 dark:border-gray-800;
}

.prose thead tr {
  @apply border-b-2 border-gray-200 dark:border-gray-800;
}

.prose tbody tr:nth-child(2n) {
  @apply bg-gray-50 dark:bg-gray-900;
}

.prose b,
.prose strong {
  @apply font-bold text-gray-900 dark:text-gray-300;
}

.prose hr {
  @apply border-gray-200 dark:border-gray-800;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-sans font-bold text-gray-900 dark:text-gray-100;
  scroll-margin-top: 4rem;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  @apply font-sans font-bold no-underline text-gray-1000 dark:text-gray-100;
}

.prose h5 {
  @apply mt-12 -mb-3 text-xl;
}

.prose.comment {
  @apply max-w-none;
}

.prose.comment pre {
  @apply px-3 py-2 my-2;
}

/* this is needed to avoid HN comments from overflowing off the right edge of the screen */
.prose p {
  @apply break-words;
  word-break: break-word;
}

.prose.comment p,
.prose.comment ul,
.prose.comment ol {
  @apply m-10;
}

.prose li {
  @apply m-0;
}

.prose.comment p:first-of-type {
  margin-top: 0 !important;
}

.prose.comment p + p {
  margin-top: 0;
}

.prose.comment pre {
  @apply my-3;
}

.prose.comment a {
  @apply break-all;
}

.prose p + p {
  margin-top: 0;
}

.prose code,
.prose pre {
@apply whitespace-pre-wrap;
word-break: break-word;
}


.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply max-w-[86vw] border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}


div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  @apply py-11 text-sm leading-7;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid; /* make highlighted lines span the width of a horizontally-scrollable code block */
}

div[data-rehype-pretty-code-fragment] .syntax-line {
  @apply border-l-4 border-l-transparent pl-2 pr-3;
}

div[data-rehype-pretty-code-fragment] .syntax-line--highlighted {
  @apply border-l-blue-300/60 bg-blue-200/10 rounded-md;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] .syntax-line::before {
  counter-increment: line;
  content: counter(line);
  text-align: right;

  @apply mr-3 w-4 text-white/20;
}

code[data-line-numbers] .syntax-line--highlighted::before {
  @apply text-white/70;
}

p > code,
li > code,
span[data-rehype-pretty-code-fragment],
div[data-rehype-pretty-code-fragment] .syntax-word--highlighted {
  @apply rounded-md bg-rose-200/10 font-mono text-sm;
}

p > code,
li > code,
span[data-rehype-pretty-code-fragment] {
  @apply text-blue-200/90;
}

div[data-rehype-pretty-code-title] {
  @apply -mb-14 rounded-md max-w-[80vw] mx-2 px-3 font-mono text-xs text-gray-300 shadow-sm relative  dark:bg-gray-900;
}
